<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
        <p class="link-text">
            Não tem uma conta? <a href="{% url 'cadastro_usuarios' %}">Registrar-se</a>
        </p>
    </div>
</body>
</html>