<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Empréstimo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Solicitar Empréstimo</h2>
        <form id="form-solicitacao-emprestimo" method="post">
            {% csrf_token %}
            <!-- Campo para selecionar o livro -->
            <label for="livro">Livro:</label>
            <select id="livro" name="livro" required>
                <option value="">Selecione um livro</option>
            </select>

            <!-- Campo para data de devolução -->
            <label for="data_devolucao">Data de Devolução Prevista:</label>
            <input type="date" id="data_devolucao" name="data_devolucao" required>

            <!-- Campo escondido para o ID do usuário autenticado -->
            <input type="hidden" id="usuario" name="usuario" value="{{ request.user.id }}">

            <button type="submit">Solicitar Empréstimo</button>
        </form>
        <p id="mensagem"></p>
    </div>
    <script src="{% static 'js/solicitar_emprestimo.js' %}"></script>
</body>
</html>
